<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1" thread-count="1" parallel="tests">
    <test name="HomePage" parallel="tests">
        <classes>
            <class name="HomepageTest"/>
        </classes>
    </test>
    <test name="BasketPage" parallel="tests">
        <classes>
            <class name="BasketTest"/>
        </classes>
    </test>
    <test name="InvoicePage" parallel="tests">
        <classes>
            <class name="InvoiceTest"/>
        </classes>
    </test>
</suite>